@tailwind base;
@tailwind components;
@tailwind utilities;

/* === GLOBAL STYLES & BASE === */
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222;
}



  html {
    scroll-behavior: auto;
  }
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
  }
  *::-webkit-scrollbar {
    width: 8px;
  }
